certifi==2025.1.31
charset-normalizer==3.4.1
defusedxml==0.7.1
idna==3.10
jira==3.8.0
jira-python==0.2.4
numpy==2.2.3
oauthlib==3.2.2
packaging==24.2
pandas==2.2.3
pillow==11.1.0
python-dateutil==2.9.0.post0
pytz==2025.1
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
six==1.17.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
