body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    _align-items: center;
    height: 100vh;
    margin: 0;
}

.timeline-container {
    position: relative;
    width: 80%;
}

.timeline {
    position: relative;
    height: 2px;
    background: #04409e;
    margin: 50px 0;
}


.timeline::after{
display: block;
margin-left: 100%;
margin-top: -1px;
content:"";
background: linear-gradient(to right, #04409e, white);
width: 5%;
height: 2px;
}

.release {
    position: absolute;
    transform: translateX(6px);
    text-align: center;
    cursor: pointer;
    top:-29px;
}

.release span {
    display: block;
    margin-bottom: 5px;
}

.release-circle {
    width: 10px;
    height: 10px;
    background: #add8e6e3;
    border-radius: 50%;
    border: 2px solid #008dff;
    box-shadow: 2px 2px 5px -1px #4b4c4c; 
}

.release:hover .release-circle {
    background: #51c3e9; 

    
}

.details {
    display: none;
    width:50%;
    margin-left:auto;
    margin-right:auto;
    background: linear-gradient(150deg, #d7e5fc 0%, #f7ffff 100%);
    color: #051841;
    border: 1px solid #e8edf2;
    border-radius: 5px;
    padding: 24px;
}

.details h2 {
    margin-top:0px;
}

.tick-mark {
    position: absolute;
    height: 12px;
    width: 2px;
    background: #000;
    bottom: -12px;
}

.tick-label {
    position: absolute;
    bottom: -20px;
    transform: translateX(-50%);
    font-size: 12px;
}
